doctype
html
  head
    link(rel="stylesheet" href="/css/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
  body
    != partial("_shared/navbar.jade")
    #container
        != yield