<div class="container">
  <div class="window">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>Frontdesk is a web app that helps your maintain the daily tasks that needs to get done at your shelter.</p>
      <a class="btn btn-default">Let's get started!</a>
    </div>
  </div>
  <div class="window" id="tasks">
    <div class="jumbotron">
      <p>First, let's identify what needs to get done. What are the day-to-day tasks that need to be completed?</p>
    </div>
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-1 control-label" for="task1">Task 1</label>
        <div class="col-sm-11">
          <input type="email" class="form-control" id="task1" placeholder="Enter a task">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label" for="task2">Task 2</label>
        <div class="col-sm-11">
          <input type="email" class="form-control" id="task2" placeholder="Enter a task">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label" for="task3">Task 3</label>
        <div class="col-sm-11">
          <input type="email" class="form-control" id="task3" placeholder="Enter a task">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button class="pull-left btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
          <button class="pull-right btn btn-default">Done</button>
        </div>
      </div>
    </form>
  </div>
  <div class="window">
    <div class="jumbotron">
      <p>Great! Here are the tasks that you've just listed. Are they time sensitive within the day? Do some of them need to be finished at a certain hour?</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            I am a task. Hear me roar.
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Routine</button>
              <button type="button" class="btn btn-default">Non-Routine</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            I am another task. Hear me roar.
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Routine</button>
              <button type="button" class="btn btn-default">Non-Routine</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            I am a third task. Hear me roar.
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Routine</button>
              <button type="button" class="btn btn-default">Non-Routine</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="pull-left btn btn-default">Back</button>
        <button class="pull-right btn btn-default">Done</button>
      </div>
    </div>
  </div>
  <div class="window">
    <div class="jumbotron">
      <p>Here are your routine tasks. Some of these tasks may have a deadline within the day, others must be completed within a certain timeslot. Schedule your tasks!</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            I am a routine task. Hear me roar.
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Routine Task</button>
              <button type="button" class="btn btn-default">Non-Routine Task</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            I am another routine task. Hear me roar.
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Routine Task</button>
              <button type="button" class="btn btn-default">Non-Routine Task</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            I am a third routine task. Hear me roar.
          </div>
          <div class="panel-footer dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
             Dropdown
             <span class="caret"></span>
             <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="pull-left btn btn-default">Back</button>
        <button class="pull-right btn btn-default">Done</button>
      </div>
    </div>
  </div>
</div>