.container-fluid.window
  .row-fluid.window
    .col-xs-10.window
      .row.thirds
        .col-xs-6
          h3 Staff on duty
        .col-xs-6
          h3 Bed count
      .row.thirds
        .col-xs-12
          h3 Notifications
          
      .row.thirds
        .col-xs-12
          h3 Tracked tasks 
            button.btn.btn-default
              span.glyphicon.glyphicon-plus-sign
    .col-xs-2.window
      .halves
        h3 Volunteers 
          button.btn.btn-default
            span.glyphicon.glyphicon-plus-sign
        p Bob
        p Mary
        p Susan
      hr
      .halves
        h3 Administrators 
          button.btn.btn-default
              span.glyphicon.glyphicon-plus-sign
        p Bob
        p Mary
        p Susan
