.container
  .window
    .jumbotron
      p 
        | Congrats! You're done with the setup for FrontDesk! 
        | Now you can add your volunteers and your administrative team.
    .row.text-center
      .col-sm-4
        button.btn.btn-default
          span.glyphicon.glyphicon-plus-sign
        h3 Add a volunteer
      .col-sm-4
        button.btn.btn-default
          span.glyphicon.glyphicon-plus-sign
        h3 Add shelter info
      .col-sm-4
        button.btn.btn-default
          span.glyphicon.glyphicon-plus-sign
        h3 Add an administrator
    hr
    .row.text-center
      .col-sm-6
        button.btn.btn-default Preview in volunteer mode
      .col-sm-6
        button.btn.btn-default Add or edit tasks