.container
  .window
    .jumbotron
      h1 Welcome!
      p
        | Frontdesk is a web app that helps your maintain the daily tasks
        | that needs to get done at your shelter.
      a.btn.btn-default Let's get started!
  != partial("_partials/_define_tasks.jade")
  != partial("_partials/_classify_tasks.jade")
  != partial("_partials/_schedule_tasks.jade")
  != partial("_partials/_refine_tasks.jade")
  != partial("_partials/_overview_tasks.jade")