.window
  .jumbotron
    p
      | Great! Here are the tasks that you've just
      | listed. Are they time sensitive within the
      | day? Do some of them need to be finished at
      | a certain hour?
  .row
    .col-sm-4
      .panel.panel-default
        .panel-body I am a task. Hear me roar.
        .panel-footer
          .btn-group
            button.btn.btn-default(type="button") Routine
            button.btn.btn-default(type="button") Non-Routine
    .col-sm-4
      .panel.panel-default
        .panel-body I am another task. Hear me roar.
        .panel-footer
          .btn-group
            button.btn.btn-default(type="button") Routine
            button.btn.btn-default(type="button") Non-Routine
    .col-sm-4
      .panel.panel-default
        .panel-body I am a third task. Hear me roar.
        .panel-footer
          .btn-group
            button.btn.btn-default(type="button") Routine
            button.btn.btn-default(type="button") Non-Routine
  .row
    .col-sm-12
      button.pull-left.btn.btn-default Back
      button.pull-right.btn.btn-default Next
