.window
  .jumbotron
    p
      | Awesome. Now further refine all of your tasks. Do you
      | need the volunteer to add comments while working on this task?
      | Do you need to log when the task was started and finished? Do
      | you just need to know whether the task was accomplished or not?
  .row
    .col-sm-4
      .panel.panel-default
        .panel-body I am a task. Hear me roar.
        .panel-footer
          .checkbox
            label
              input(type="checkbox")
              | Require mark completed
          .checkbox
            label
              input(type="checkbox")
              | Require custom input
          .checkbox
            label
              input(type="checkbox")
              | Require task start & end time
    .col-sm-4
      .panel.panel-default
        .panel-body I am another task. Hear me roar.
        .panel-footer
          .checkbox
            label
              input(type="checkbox")
              | Require mark completed
          .checkbox
            label
              input(type="checkbox")
              | Require custom input
          .checkbox
            label
              input(type="checkbox")
              | Require task start & end time
    .col-sm-4
      .panel.panel-default
        .panel-body I am a third task. Hear me roar.
        .panel-footer
          .checkbox
            label
              input(type="checkbox")
              | Require mark completed
          .checkbox
            label
              input(type="checkbox")
              | Require custom input
          .checkbox
            label
              input(type="checkbox")
              | Require task start & end time
  .row
    .col-sm-12
      button.pull-left.btn.btn-default Back
      button.pull-right.btn.btn-default Next